*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}
/*================================== COLOR ==================================*/

body {
    margin: auto;
    text-align: center;
    background-color: var(--body-color);
}
/*================================== HEADER/TITLE ==================================*/
header h1 {
    background: linear-gradient( 90deg, var(--second-color) 0%, var(--first-color) 100% );
    -webkit-background-clip: text;
    color: transparent;
    font-family: Oxanium;
    margin-top: 40px;
    font-size: 90px;
    font-weight: 800;
}
header h1 span {
    color: var(--text-color);
    font-size: 70px;
    font-weight: 800;

}
h3 {
    color: var(--text-color);
    font-size: 50px;
    font-weight: bold;
    font-family: "Press Start 2P";
}
h2 {
    color: var(--text-color);
    font-size: 25px;
    font-weight: bold;
    font-family: "Press Start 2P";
    margin: 20px 0px 40px 0px;
}
#title {
    /* text-align: center; */
}

#logo-csgo{
    width: 30%;
}
/*================================== REGLES ==================================*/
section .regles {
    background: linear-gradient( 90deg, var(--second-color) 0%, var(--first-color) 100% );
    -webkit-background-clip: text;
    color: transparent;
    font-family: Oxanium;
    text-align: center;
    font-size: 63.92px;
    font-weight: 600;
}
section p {
    font-family: Oxanium;
    color: var(--text-color);
    width: 80%;
    text-align: left;
    font-weight: 400;
    font-size: 53.27px;
}
#wrapper {
    margin-top: 130px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taille{
    width: 50%;
    
}
/*================================== button ==================================*/
#button button {
    width: 400px;
    height: 150px;
    background: linear-gradient( 95deg, var(--second-color) 0%, var(--first-color) 100% );
    border-radius: 100px;
    border: 0;
    cursor: pointer;
}
#button{
    margin-right: 200px;
}
button:active {
    border: 0px;
}
#button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}